<html>
<header>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./app.js"></script>
</header>
<div class="container" id="app">
	<h3>{{ appTitle }}</h3>
	<div class="group" v-for="group in groups">
		<h2>{{ group.name }}</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="team in group.teams">
					<td>{{ team }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>